@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

:root {
    --cursor-pointer: url("../images/cursor-pointer.png");
    --cursor-default: url("../images/cursor.png");
    --cursor-text: url("../images/cursor-text.png");
}

body,
* {
    margin: 0;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
}

*::selection {
    background-color: #CE83C8;
    color: black;
}

body {
    background-color: #15224F;
    cursor: var(--cursor-default), auto;
}

#table__title {
    background-color: #8C5BEA;
    text-transform: uppercase;
    font-weight: 700;
    cursor: inherit;
}

#table__body {
    width: 50vw;
    display: grid;
    margin: 5vw;
    grid-template-columns: 50vw;
    row-gap: 15px;
}

.row {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    column-gap: 10px;
}

hr {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: -2%;
    width: 110%;
    height: 5px;
    background-color: #2F3863;
    border: none;
    border-radius: 3px;
    z-index: -1;
}

.row:hover hr.hover-control {
    visibility: visible;
}

.row:active hr.hover-control {
    background-color: #8C5BEA;
}

hr.visible {
    visibility: visible;
}

.row::after {
    visibility: hidden;
    content: url("../images/edit.png");
    position: absolute;
    right: -30px;
    top: 5px;
}

.row:hover::after {
    visibility: visible;
}

.row:hover {
    cursor: var(--cursor-pointer), auto;
}

.item {
    font-weight: lighter;
    background-color: #071237;
    padding: 1em;
}

#table__title .item {
    background-color: #8C5BEA;
    position: relative;
}

.control {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    right: 10px;
}

.hide-control {
    top: 5px;
    background: url('../images/hidden.png') no-repeat;
}

.hide-control.hidden {
    background: url('../images/view.png') no-repeat;
}

.sort-control {
    bottom: 5px;
    background: url('../images/sort.png') 0 0 no-repeat;
}

button {
    padding: 0;
    border: none;
    cursor: var(--cursor-pointer), auto;
}

.item.hidden {
    visibility: hidden;
}

.about {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.eyeColor img {
    float: right;
}

#edit-panel__body {
    display: none;
}

#edit-panel__body.visible {
    position: absolute;
    display: block;
    background-color: #2F3863;
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
    grid-gap: 1em;
}

.grid-label {
    grid-column-start: span 2;
}

.grid-btn-control {
    grid-column-start: span 3;
}

.grid-input,
.grid-textarea {
    grid-column: 3/7;
}

label {
    float: left;
    vertical-align: top;
    text-transform: uppercase;
    display: inline-block;
    cursor: inherit;
}

input[type='text'],
textarea {
    background-color: #D9D9D9;
    border: none;
    outline: none;
    cursor: var(--cursor-text), auto;
    font-family: inherit;
    color: black;
    padding: 0.375rem 0.75rem;
}

.btn-control {
    color: black;
    font-weight: bold;
}

.btn-cansel {
    background-color: #8C5BEA;
}

.btn-submit {
    background-color: #CE83C8;
}

input[type='radio'] {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 40px;
    height: 40px;
}

input[type='radio']:checked + .btn-img {
    zoom: 1.1;
}

.btn-img {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;
}

.radio-eye-blue {
    background: url("../images/eye-blue.png") no-repeat;
}

.radio-eye-green {
    background: url("../images/eye-green.png") no-repeat;
}

.radio-eye-red {
    background: url("../images/eye-red.png") no-repeat;
}

.radio-eye-brown {
    background: url("../images/eye-brown.png") no-repeat;
}






